<div class="calendar-body">
    <div class="hour" *ngFor="let hour of hours">
        <div class="hour-label">{{ hour }}:00</div>
        <div class="vertical-separator"></div>

        <div class="appointments" cdkDropListGroup>
            <button class="schedule-appointment" (click)="openAppointmentForm()">
                <span></span>
            </button>
            <div class="appointment" *ngFor="let appointment of getAppointmentsForHour(hour)" cdkDrag>
                <div class="appointment-box" cdkDrag (cdkDragMoved)="onDragMoved($event, appointment)"
                    (cdkDragEnded)="onDragReleased($event, appointment)">
                    {{ appointment.title }}
                    <button mat-icon-button color="warn" (click)="deleteAppointment(appointment._id)">&#10060;</button>
                </div>
            </div>
        </div>
    </div>
</div>